.gif {
    z-index: -1;
    position:fixed;
    top:-30%;
    height: 100%;
    width:100%;
}
img {
   
    width: 20%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }
  .home {
      text-align: center;
  }