@{
  Layout = "_Layout";
}
 <div class="container">
<h1>Edit Patron</h1>
<hr>
<h2>Edit: @Model.GetName()</h2>
<form action="/patrons/@Model.GetId()" method="post">
  <label name="newPatron">New Patron's Name</label>
  <input id="newPatron" type="text" name="newPatron" value="@Model.GetName()">
  <Button class="btn btn-info" type="submit">Update</Button>
</form>
</div>
