@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>List of all checkout books for @Model["patron"].GetName()</h1>
<ol>
@foreach (var book in Model["patronBooks"])
{
  <li><a href='/books/@book.GetId()'>@book.GetTitle()</a> the due Date is : @book.GetBookDueDate().ToString("yyyy-MM-dd")</li>
}
</ol>
</div>
<a href='/patrons/@Model["patron"].GetId()/checkout' class="btn btn-success">Checkout a book</a>
<a href="/patrons" class="btn btn-success">Go back to patron's list</a>
