@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>Here are all the available Books</h1>
<ol>
@foreach (var book in Model)
{
    <li><h2><a href="/books/@book.GetId()">@book.GetTitle() </a></h2> <a href="/books/@book.GetId()/edit" >Edit</a></li>
}
</ol>
</div>
<a href="/books/new" class="btn btn-success">Add new Book</a>
