@{
  Layout = "_Layout";
}
 <div class="container">
<h1>Edit Author</h1>
<hr>
<h2>Edit: @Model.GetName()</h2>
<form action="/authors/@Model.GetId()" method="post">
  <label name="newAuthor">New Author's Name</label>
  <input id="newAuthor" type="text" name="newAuthor" value="@Model.GetName()">
  <Button class="btn btn-info" type="submit">Update</Button>
</form>
</div>
