@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>Here are all the available Authors</h1>
<ol>
@foreach (var author in Model)
{
    <li><h2><a href="/authors/@author.GetId()">@author.GetName() </a></h2> <a href="/authors/@author.GetId()/edit" >Edit</a></li>
}
</ol>
</div>
<hr>
<a href="/authors/new" class="btn btn-success">Add new Author</a>
<