@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>Add a new Author</h1>
<form action="/authors" method="post">
<label name="authorsname">Name of the Author </label>
<input name="authorsname" id="authorsname" type="text">
 <button class="btn btn-primary" type='submit'>Add new Author</button>
</form>
</div>
<hr>
<a href="/authors" class="btn btn-success">Back to Authors</a>